<div class="widgetname" data-dojo-attach-point="widgetBase">
    <div style="display: flex">
        <div style="flex: 1 33%">Two Days Ago</div>
        <div style="flex: 1 33%">Yesterday</div>
        <div style="flex: 1 33%">Today</div>
    </div>
    <div style="display: flex">
        <div data-dojo-attach-point="countTwoDaysAgo" style="flex: 1 33%"></div>
        <div data-dojo-attach-point="countYesterday" style="flex: 1 33%"></div>
        <div data-dojo-attach-point="countToday" style="flex: 1 33%"></div>
    </div>
</div>